/*CSS RESET*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*{box-sizing:inherit}*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

html, body {
    height: 100%;
}

/* Main */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: white;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Variables */
:root {
    --centerWidth: 100%;
    --navbarDir: column;
    --centerMargin: 0;
    --navHeight: 36px;
    --h1Size: 1em;
}

/* Nav */
header {
    justify-content: center;
    display: flex;
}

.navbar {
    width: var(--centerWidth);
    position: fixed;
    background-color: green;
    display: flex;
    font-size: var(--h1Size);
    overflow: hidden;
}

.navbar > ul > li:not(:first-child) {
    display: none;
}

.menuOpened > ul > li:not(:first-child){
    display: block!important;
    z-index: 10;
    position: fixed;
    top: 100px;
    left: 100px;
}

.navbar > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    flex-direction: var(--navbarDir);
}

.navbar > ul >li {
    flex: 1;
    padding: 0.5em;
}

.sideBar {
    height: 100vh;
    width: 300px;
    position: fixed;
    background-color: white;
    z-index: 5;
    right: -1000px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.3, 0, 0.3, 1);
}

.sideBar > ul {
    margin-top: var(--navHeight);
}

.sideBar > ul > li {
    font-size: 20px;
    padding: 5px;
}

.sideBar > ul > .active {
    background-color: green;
}

#escapeHatch {
    flex: 4;
}

#escapeHatch a img , #escapeHatch a span {
    height: var(--h1Size);
    vertical-align: middle;
}

#toggleMenuInput {
    display: none;
}

#toggleMenu {
    display: block;
    position: fixed;
    right: 6px;
    top: 6px;
    width: 25px;
    padding: 0.5em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

#toggleMenu > span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#toggleMenu span:nth-child(1) {
    top: 0px;
}

#toggleMenu span:nth-child(2), #toggleMenu span:nth-child(3) {
    top: 10px;
}

#toggleMenu span:nth-child(4) {
    top: 20px;
}

#toggleMenu.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#toggleMenu.open span:nth-child(2) {
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
 }

#toggleMenu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#toggleMenu.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#toggleMenuInput:checked + .sideBar {
    right: 0!important;
}

.blur {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    transition: 0.2s;
}

.blur-svg {
    display: none;
}

.fadeWrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

/* Content */
.centerContent {
    padding-top: var(--navHeight);
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}

.row {
    width: var(--centerWidth);
    display: flex;
    justify-content: center;
}

.content {
    background-color: orange;
    width: var(--centerWidth);
    flex-grow: 1;
    min-height: fit-content;
}

/* Footer */
.footer {
    flex-direction: column;
    background-color: yellow;
    min-height: fit-content;
}

.footer .footerContent {
    clear: both;
    min-height: fit-content;
}

.footer .footerContent, .footer .colofon {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.footer > .footerContent > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: var(--navbarDir);
}

.footer > .footerContent > ul > li {
    background-color: darkblue;
    text-align: center;
    padding: 1em;
    color: white;
}

.footer > .colofon {
    background-color: green;
}


/* Mobile Portrait */
@media(min-width: 320px){
    :root {
    }
}

/* Mobile Landscape */
@media(min-width: 481px){
    :root {
        --h1Size: 1.2em;
        --navHeight: 43px;
    }

    #toggleMenu {
        width: 30px;
        top: 10px;
        right: 10px;
    }

    #toggleMenu > span {
        height: 5px;
    }
}

/* Tablet Portrait */
@media(min-width: 641px){
    :root {
        --centerMargin: 1em;
        --navbarDir: row;
    }

    .navbar > ul > li:not(:first-child) {
        display: block!important;
    }

    #toggleMenu {
        display: none!important;
    }

    .menuOpenedBackground {
        display: none;
    }
}

/* Tablet Landscape */
@media(min-width: 961px){
    :root {
        --centerWidth: 929px;
        --h1Size: 1.5em;
        --navHeight: 60px;
    }
}

/* Laptop */
@media(min-width: 1025px){
    :root {
        --centerWidth: 961px;
    }
}

/* Desktop */
@media(min-width: 1281px){
    :root{
        --centerWidth: 1100px;
    }
}