/*CSS RESET*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*{box-sizing:inherit}*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

html, body {
    height: 100%;
    overflow-y: scroll;
}

/* Main */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: black;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Variables */
:root{
    --centerWith: 100%;
    --navbarDir: column;
    --centerMargin: 0;
    --navHeight: 36px;
    --h1Size: 1em;
}

/* Desktop */
@media(min-width: 1281px){
    :root{
        --centerWith: 1025px;
    }
}

/* Laptop */
@media(min-width: 1025px){
    :root{
        --centerWith: 961px;
    }
}

/* Tablet L */
@media(min-width: 961px){
    :root{
        --centerWith: 929px;
        --h1Size: 1.5em;
    }
}

/* Tablet P */
@media(min-width: 641px){
    :root{
        --centerMargin: 1em;
        --navbarDir: row;
        --h1Size: 1.5em;
    }

    .navbar > ul > li:not(:first-child) {
        display: block!important;
    }

    #toggleMenu {
        display: none!important;
    }
}

/* Mobile L */
@media(min-width: 481px){
    :root{
        --h1Size: 1.2em;
        --navHeight: 43px;
    }
}

/* Mobile P */
@media(min-width: 320px){
    :root{
    }
}

/* Nav */
.navbar {
    position: fixed;
    width: 100%;
    background-color: green;
    display: flex;
    font-size: var(--h1Size);
    overflow: hidden;
}

.navbar > ul > li:not(:first-child) {
    display: none;
}

.responsive > ul > li{
    display: block!important;
}

.navbar > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    flex-direction: var(--navbarDir);
}

.navbar > ul >li {
    flex: 1;
    padding: 0.5em;
}

#escapeHatch {
    flex: 4;
}

#escapeHatch a img , #escapeHatch a span {
    height: var(--h1Size);
    vertical-align: middle;
}

#toggleMenu {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}

/* Content */
.centerContent {
    padding-top: var(--navHeight);
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;
    min-height: fit-content;
}

.row {
    width: var(--centerWith);
    display: flex;
    justify-content: center;
    min-height: 50px;
    background: red;
}

/* Home */
.home {
    min-height: 400px;
}

/* Footer */
.footer {
    flex-direction: column;
    background-color: yellow;
    min-height: fit-content;
}

.footer .footerContent {
    clear: both;
    min-height: fit-content;
}

.footer .footerContent, .footer .colofon {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.footer > .footerContent > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: var(--navbarDir);
}

.footer > .footerContent > ul > li {
    background-color: darkblue;
    text-align: center;
    padding: 1em;
    color: white;
}

.footer > .colofon {
    background-color: green;
}